{% extends "base.html" %} <{% block title %}Home{% endblock title %} {% load
static %} {% block content %}

{% comment %} <div>
  <div
    class="grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-4 xl:grid-cols-5 gap-1"
  >
    {% for data in posts %}

    <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow">
      <a href="#">
        <img class="rounded-t-lg" src="{{data.image}}" alt="" />
      </a>
      <div class="p-5">
        <a href="{% url "postdetails" data.id %}">
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">
            {{data.title}}
          </h5>
        </a>
        <div class="p-2 ">
           <p>{{data.date}}</p>
        </div>
       

        <p class="mb-3 font-normal text-gray-700">{{data.content}}</p>
        <div class="flex flex-row justify-between p-1">
          <p class="capitalize">{{data.author}}</p>
          <img
            class="h-10 w-10 rounded-full"
            src="{{user.profile.image.url}}"
            alt=""
          />
        </div>
        <a
          href="#"
          class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        >
          Read more
          <svg
            class="rtl:rotate-180 w-3.5 h-3.5 ms-2"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 14 10"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M1 5h12m0 0L9 1m4 4L9 9"
            />
          </svg>
        </a>
      </div>
    </div> {% endcomment %}








    
<section>
  <!-- Container -->
  <div class="mx-auto w-full max-w-7xl px-5 py-16 md:px-10 md:py-20">
    <!-- Component -->
    <div class="flex flex-col items-center">
      <h2 class="text-center text-3xl font-bold md:text-5xl"> The latest and greatest news </h2>
      <p class="mb-8 mt-4 text-center text-sm text-gray-500 sm:text-base md:mb-12 lg:mb-16"> Lorem ipsum dolor sit amet elit ut aliquam </p>
      <!-- Content -->
      <div class="mb-6 grid gap-4 sm:grid-cols-2 sm:justify-items-stretch md:mb-10 md:grid-cols-3 lg:mb-12 lg:gap-6">

{% for post in posts  %}
<a href="{% url "postdetails" post.id %}" class="flex flex-col gap-4 rounded-md border border-solid border-gray-300 px-4 py-8 md:p-0">
          <img src="{{post.image}}" alt="" class="h-60 object-cover" />
          <div class="px-6 py-4">
            <p class="mb-4 text-sm font-semibold uppercase text-gray-500"> lifestyle </p>
            <p class="mb-4 text-xl font-semibold"> {{post.title}} </p>
            <p class="mb-6 text-sm text-gray-500 sm:text-base lg:mb-8"> {{post.content|truncatechars:50}}</p>
            <div class="flex">
              <div class="flex flex-col">
                <h6 class="text-base font-bold">{{post.author}}</h6>
                <div class="flex flex-col lg:flex-row">
                  <p class="text-sm text-gray-500">{{post.date}}</p>
                  <p class="mx-2 hidden text-sm text-gray-500 lg:flex"> - </p>
                  <p class="text-sm text-gray-500">6 mins read</p>
                </div>
              </div>
            </div>
          </div>
        </a>

{% endfor %}

        
        
      </div>
      <!-- Button -->
      <a href="#" class="rounded-md bg-black px-6 py-3 text-center font-semibold text-white"> View More </a>
    </div>
  </div>
</section>


    {% comment %} {% endfor %} {% endcomment %}
  </div>
</div>
{% endblock content %}
