{% extends "base.html" %}

<div>
  {% block content %}
  <div class="p-5">
    <div class="h-50% w-50%">
      <img
        class="rounded-full w-72 h-72"
        src="{{user.profile.image.url}}"
        alt="image description"
      />
    </div>

    <div class="border border-span-4 w-full mt-3">
      <ul class="p-3">
        <li class="text-2xl capitalize mt-3">
          First Name : {{user.first_name}}
        </li>
        <li class="text-2xl capitalize mt-3">Last Name : {{user.last_name}}</li>
        <li class="text-2xl mt-3">Email: {{user.email}}</li>
        <li class="text-2xl mt-3">Phone: {{user.profile.phone}}</li>
        <li class="text-2xl mt-3">Address: {{user.profile.address}}</li>
        <li class="text-2xl mt-3">Description: {{user.profile.description}}</li>
      </ul>
    </div>
  </div>
  {% endblock content %}
</div>
